@model EcommerceProyecto.Models.Producto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductoNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductoNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendedorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendedorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.URLImagen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.URLImagen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValoracionProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValoracionProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EsVerificado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EsVerificado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConIVA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConIVA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConDiscuento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConDiscuento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConPuntos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConPuntos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaisProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaisProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LugarFabricacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LugarFabricacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Materiales)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Materiales)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioProducto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProductoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
